<% if @players == [] %>

<p> 
	<% else %>
	<% @player.each do |player| %>
		<%= player.nickname  %><br/>
		<%= player.rank  %><br/>
		<%= player.charisma %><br/>
		<%= player.wisdom  %><br/>

		<%= link_to "Details" , players_path(player.id) %></p>>
		<% end %>
	<% end  %>

<%= link_to "Add new player", new_players_path %>

