
<p> 
 <%= @player.nickname %><br />
 <%= @player.rank %><br />
 <%= @player.charisma %><br />
 <%= @player.wisdom  %><br />
</p>

<p> 
	<%= link_to "Edit" , edit_players_path(@player.id) %><br />
	<%= link_to "Destroy" , players_path, :method => :delete %>
	</p>